.container {
  height: 100%;
  display: flex;
}

.white {
  background-color: white;
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #9E140F;
  width: 55%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.register {
  color: #E2B808;
  margin-bottom: 5%;
  font-size: 2rem;
}

.link {
  text-decoration: none;
}

.logo {
  border-radius: 50%;
  margin-right: 4vh;
}

.title {
  color: #E2B808;
  font-size: 3rem;
  text-decoration: none;
}

.input {
  position: relative;
  margin-bottom: 20px;
}

.LoginRef {
  font-size: 10px;
  color: gray;
  margin-top: 5%;
  font-size: small;
}

.LoginText {
  color: #E2B808;
  text-decoration: none;
  font-weight: bold;
}