* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-header {
  background-color: black;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vh;
}

.link {
  text-decoration: none;
}

.logo {
  border-radius: 50%;
}

.image {
  margin-right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-right: 10vh;
}

.title {
  color: #E2B808;
  font-size: 2.2rem;
  text-decoration: none;
}