* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-header {
  background-color: black;
  height: 10vh;
  width: 100%;
}

.inner-header {
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #E2B808;
  font-size: 3vh;
  gap: 3vh;
}

.logo-image {
  border-radius: 50%;
  overflow: hidden;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #E2B808;
  font-size: 1.5vh;
  gap: 3vh;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}